.button {
  height: 100%;
  color: #ffffff;
  background-color: #2f71e5;
  border: 1px solid #2f71e5;
  border-radius: 100px;
  cursor: pointer;
}

.button_disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  border: none;
  cursor: initial;
}

.button:hover:not(.button_disabled) {
  background-color: #347eff;
  border: 1px solid #3473ff;
}

.button:active:not(.button_disabled) {
  background-color: #2a65cc;
  border: 1px solid #2a65cc;
}
