.about {
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
}

.about__avatar {
  max-width: 464px;
  width: 100%;
}

.about__content {
  margin-left: 54px;
  margin-top: 51px;
  max-width: 600px;
}

.about__title {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 24px;
}

.about__text-block {
  margin-bottom: 24px;
}
