@import url('./vendor/normalize.css');

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  src: url('./vendor/fonts/robotoslab-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('./vendor/fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  src: url('./vendor/fonts/sourcesanspro-regular.woff') format('woff');
}

body {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 18px;
  color: #1a1b22;
}

.side-padding {
  max-width: 1232px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

@media screen and (max-width: 767px) {
  .side-padding {
    padding: 0 16px;
  }
}
